@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200&family=Open+Sans:wght@500&display=swap');

body{
	font-family: 'Albert Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
	background-color: #999999;
	/*zoom: 50%;*/
}
#container_geral{
	width: 890px;
	background-color: #FFFFFF;
	margin: auto;
	margin-top: 25px;
	font-size: 13px;
}
table{
	border: 2px solid #bbbbbba2;
	text-align: center;
	border-collapse: collapse;
	margin: auto;
	margin-bottom: 10px;
}
table th{
	border-top: 1px solid #bbbbbba2;
	border-bottom: 1px solid #bbbbbba2;
	border-right: 1px solid #bbbbbba2;
	text-align: center;
	width: 100px;
}
table td{
	border: 2px solid #bbbbbba2;
	padding-left: 4px;
}
input{
	border: none;
	text-align: left;
	border-bottom: 1px solid #000;
	outline: none;
}
.div_categorias{
	text-align: left;
	border-collapse: collapse;
	margin: auto;
	margin-bottom: 10px;
	padding-left: 3px;
}
.intercalarDiv{
	margin-bottom: 3px;
}
.divDocumentosAdmissaoDireita{
	width: 310px; float: right;
}
.divDocumentosAdmissaoEsquerda{
	float: left
}
.divValores{
	padding-left: 3px;
}

.container-geral-header, .container-geral-main, .container-geral-footer {
	padding-left: 6em;
	padding-right: 6em;
}
