@import "index.css";

body {
	text-align: justify;
}


.container-header-logo img{
	width: 100px;
}
.container-header-logo div {
	padding-left: 4px;
	font-size: 10pt;
}

.container-header-title {
	display: flex;
	justify-content: center;
	font-size: 12pt;
}

.container-footer-duvida {
	text-align: end;
}

.container-footer-atendimento {
	text-align: center;
}
