@import "index.css";

body {
	text-align: justify;
}

.container-geral-header {
	display: grid;
}

.div-title-main {
	display: flex;
	justify-content: center;
}

.title-main-text {
	font-size: 14pt;
}

.container-geral-header-date p {
	padding-left: 1em;
	font-size: 9pt;
}

.container-content-text-main {
	font-size: 9pt;
}

.container-content-clausulas {
	font-size: 9pt;
}
.container-content-footer {
	display: grid;
}
.container-contant-footer-assinatura {
	display: grid;
	justify-content: center;
	text-align: center;
}
.container-content-footer-atendimento {
	display: flex;
	justify-content: center;
}
.container-content-footer-atendimento span {
	padding: 1px;
}

